// Variables

@fontFamily: "Lato", sans-serif;
@fontFamilyMonospaced: "Source Code Pro", sans-serif;

@textColor: #757575;
@headerColor: #2d2d2d;
@backgroundColor: #f8f8f8;

@orangeColor: #EDB867;
@greenColor: #50E3C2;
@blueColor: #4278F5;

@redColor: #f7605a;
